* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body {
    background-color:none;
}


.container {
padding-top: 30vh;
max-width:70vw;
margin-inline: auto;
line-height: 0.1;

color: black;  
}

p {
    line-height: 1.5;
    font-size: 15px;
    max-width: 750px;
}

h1 {
    font-size: 2vw;
    color: DimGray;
}
h2,h3 {
    font-size: 6vw;
}
h3{
    color: DarkSlateGray;
}

svg {
    margin-top: 10px;
}

.btn {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn:hover {

    background-color:rgba(47,79,79, 0.6);
        transition: 0.7s;
    
}
@media screen and (max-width: 500px) {

    h2,h3 {
    
    font-size: 30px;
    
    
    };
}
@media screen and (max-width: 500px) {

    h1 {
    
    font-size: 10px;
    
    
    };
}


@media screen and (max-width: 500px) {

    .container {
    
        line-height: 0.8;
    
    
    };
}

@media screen and (min-width: 750px) {

    p {
    
        font-size: 2vw;
    
    
    };
}





