* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
    
}

body {
    background-color:none;
}




p {
    line-height: 1.5;
    font-size: 15px;
    max-width: 750px;
}

h1 {
    font-size: 2vw;
    color: DimGray;
}
h2,h3 {
    font-size: 6vw;
    
}
h2 {
    line-height: 0px;
}
h3{
    color: DarkSlateGray;
}

svg {
    margin-top: 10px;
}

.btn {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;;
}

.btn:hover {

    background-color:rgba(47,79,79, 0.6);
        transition: 0.4s;
    
}
.container {
    padding-top: 30vh;
    max-width:70vw;
    margin-inline: auto;
    margin-left: 30%;
    margin-right: 20%;
    
    color: black;  
    }


/*  */
@media screen and (min-width: 768px) {

    h2,h3 {
    
    font-size: 80px;
    
    
    };
}

@media screen and (max-width: 768px) {

    h2,h3 {
    
    font-size: 30px;
    
    
    };
}
/*  */
@media screen and (max-width: 768px) {

    h1 {
    
    font-size: 10px;
    
    
    };
}
@media screen and (min-width: 768px) {

    h1 {
    
    font-size: 16px;
    
    
    };
}


@media screen and (max-width: 768px) {

    .container {
    
        line-height: 0.8;
    
    
    };
}

@media screen and (max-width: 768px) {

    p {
    
        font-size: 15px;
    
    
    };
}

@media screen and (min-width: 768px) {

    p {
    
        font-size: 20px;
    
    
    };
}





